@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    display: flex;
    width: 595px;
    margin: 0 auto;
    flex-direction: column;
    flex-direction: row;
}
.row{
    justify-content: space-between;
}
.infa{
    background: #233A5F;
    color: #FFFFFF;
    width: 210px;
    height: 842px;
}
.infa-t{
    width: 186px;
    height: 748px;
    margin: 47px 12px;
}
.header-p{
    font-size: 10px;
    color: #C3C2C2;
}
.contacts{
    color: #233A5F;
    width: 186px;
    height: 23px;
    border-radius: 4px;
    background: #E5E5E5;
    font-size: 10px;
}
li{
    font-size: 10px;
    text-align: left;
    justify-content: flex-start;
}
ul{
    margin: 20px 0 8px 0;
    list-style-type: disc;
}
h1{
    font-size: 18px;
}
h2{
    font-size: 12px;
    margin: 0;
}
h3{
    font-size: 10px;
}
.best{
    font-size: 10px;
}
.honor-p{
    font-size: 8px;
    color: #C3C2C2;
}
.icon{
    font-size: 10px;
    color: white;
}
.main{
    width: 385px;
    height: 842px;
    margin: 47px 32px;
}
.main img{
    margin-top: 12px;
}
.main h2{
    color: #233A5F;
    font-size: 12px;
    border-bottom: solid 2px #233A5F;
    border-radius: 4px;
}
.main-t{
    width: 321px;
    height: 754px; 
}
.about-p{
    font-size: 8px;
}
.column{
    width: 54px;
    height: 15px;
    margin-right: 24px;
}
.column-1{
    margin-right: 24px;
}
.text-education{
    font-size: 10px;
    line-height: 15px;
}
.title text{
    font-size: 8px;
    font-weight: 600;
    color: #2A2A2A;
}
p{
    font-size: 8px;
}
section{
    display: flex;
}
